{% extends 'base.html' %}

{% block titulo %}Detalhes{% endblock %}

{% block titulo_nav %}Detalhes do Registro{% endblock %}

{% block contend %}

  <h1 class="mt-5">Nobreak não liga</h1>
    <dl>
      <dt>Código</dt>
      <dd>1</dd>

      <dt>Data de Abertura</dt>
      <dd>2020-10-03</dd>

      <dt>Local</dt>
      <dd>Unidade I</dd>

      <dt>Departamento</dt>
      <dd>Adm. Armazém</dd>

      <dt>Patrimônio</dt>
      <dd>0100063</dd>

      <dt>Status</dt>
      <dd>Pendente</dd>

      <dt>Descrição</dt>
      <dd>
        xxxxxx-xxxxxx-xxxxx-xxxxx-xxxxxxx-xxxxxx-xxxxxx-xxxxxx
      </dd>
    </dl>
{% endblock %}