{% extends 'base.html' %}



{% block contend %}

  <h1 class="mt-5">João Moreira</h1>
    <dl>
      <dt>ID</dt>
      <dd>100</dd>

      <dt>Telefone</dt>
      <dd>35 9 9999-9999</dd>

      <dt>E-mail</dt>
      <dd>email@email.com</dd>

      <dt>Data criação</dt>
      <dd>20/04/1990</dd>

      <dt>Categoria</dt>
      <dd>Família</dd>

      <dt>Descrição</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare condimentum efficitur. Morbi sit amet
        commodo mauris. Donec efficitur lorem vel velit euismod pellentesque. Suspendisse blandit vehicula rhoncus.
        Duis posuere erat vitae libero scelerisque pharetra. Cras sed erat cursus, lacinia nibh at, imperdiet nibh.
        Duis sit amet enim blandit, scelerisque turpis quis, tempor quam. Nullam sed fermentum nisl, at varius
        mauris. Maecenas accumsan tincidunt orci consequat semper.
      </dd>
    </dl>
{% endblock %}