{% extends 'base.html' %}

{% block titulo %}Controle de Serviço{% endblock %}

{% block titulo_nav %}Controle de Serviço{% endblock %}

{% block contend %}
    <h1 class="mt-5">Lista de Serviços</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Atualizado Em</th>
            <th>Local</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Nobreak não liga</td>
            <td>20/03/2022</td>
            <td>Unidade I</td>
            <td>Pendente</td>
            <td>
              <span class="material-icons">
                  <a href="{% url 'detalhes' %}">edit</a>
                </span>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Nobreak SMS desliga sozinho</td>
            <td>15/03/2022</td>
            <td>Unidade III</td>
            <td>Em adamento</td>
            <td>
              <span class="material-icons">
                  <a href="{% url 'detalhes' %}">edit</a>
                </span>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Nobreak APC não liga</td>
            <td>10/02/2022</td>
            <td>Sede ADM</td>
            <td>Resolvido</td>
            <td>
              <span class="material-icons">
                  <a href="{% url 'detalhes' %}">edit</a>
                </span>
            </td>
          </tr>
        </tbody>
      </table>
{% endblock %}