{% extends 'base.html' %}

{% block titulo %}Controle de Serviço{% endblock %}

{% block titulo_nav %}Controle de Serviço{% endblock %}

{% block contend %}
    <h1 class="mt-5">Lista de Serviços</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Atualizado Em</th>
            <th>Local</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if registros %}
          {% for registro in registros%}
            <tr>
              <td>{{registro.id}}</td>
              <td>{{registro.titulo}}</td>
              <td>{{registro.criado_em}}</td>
              <td>{{registro.departamento_id}}</td>
              <td>{{registro.status}}</td>
              <td>
                <a href="{% url 'detalhes' registro.id %}" class="btn btn-warning btn-sm" title="Editar">
                <!-- <a href="detalhes/{{registro.id}}" class="btn btn-warning btn-sm" title="Editar"> -->
                  <i class="fa-solid fa-pen-to-square"></i>          
              </td>
            </tr>
          {% endfor %}
          {% else %}
          {% endif %}        
        </tbody>
      </table>
{% endblock %}