{% extends 'base.html' %}
{% load account %}
{% load static %}
{% block titulo %} {{titulo_site}}{% endblock %}

{% block titulo_nav %} Inicio {% endblock %}

{% block contend %}
<div class="container mt-5" style="width: 100%;">
  <div class="d-flex justify-content-between mb-11">
    <div>
      <h2 class="fw-bold" style="color: rgb(19, 20, 19);">{{table_title}}</h2>
    </div>
    <!-- Filtro -->
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filtro
      </a>
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <form method="POST" action="">
          {% csrf_token %}
          {% for s in status %} 
          <div class="dropdown-item">
            <input type="checkbox" id="{{s}}" name="{{s}}" value="True">
            <label for="{{s}}">{{s}}</label>
          </div>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="submit"><strong>Filtar Selecionados</strong></button>
        </form>
        <div class="dropdown-divider"></div>
        <form action="" method="get">
          {% csrf_token %}
        <button type="submit" class="dropdown-item"><strong>Todos</strong></button>
        </form>
        </div>
      </div>
    <!-- Fim do Filtro -->
    <div>
      <a class="nav-link btn btn-space text-white px-2 me-2 fw-bold" href="{% url 'formRegistro' %}" style="background-color: rgb(28, 52, 231);">Novo Chamado</a>
    </div>
  </div>
  <div class="table-responsive">

  </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Atualizado Em</th>
            <th>Departamento</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
          
        </thead>
        <tbody>
          {% if registros %}
          {% for registro in registros%}
            <tr>
              <td>{{registro.id}}</td>
              <td>{{registro.titulo}}</td>
              <td>{{registro.criado_em}}</td>
              <td>{{registro.departamento_id}}</td>
              <td>{{registro.status}}</td>
              <td>
                
                <a href="{% url 'detalhes' registro.id %}" title="Visualizar">
                  <img src="{% static 'icons/editar-color.png' %}" alt="Editar" width="20" height="20">     
              </td>
            </tr>
          {% endfor %}
          {% else %}
          {% endif %}        
        </tbody>
      </table>
      {% if registros.has_other_pages %}
      <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if registros.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ registros.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item"><span><a class="page-link" href="">&laquo;</a></span></li>
        {% endif %}
        {% for i in registros.paginator.page_range %}
          {% if registros.number == i %}
            <li class="page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if registros.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ registros.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
{% endblock %}