{% extends 'base.html' %}
{% load account %}
{% block titulo %}Controle de Serviço{% endblock %}

{% block titulo_nav %}Controle de Serviço{% endblock %}

{% block contend %}
<div class="container mt-5" style="width: 100%;">
  <div class="d-flex justify-content-between mb-11">
    <div>
      <h2 class="fw-bold" style="color: rgb(19, 20, 19);">Fila de demanda</h2>
    </div>
    <div>
      <a class="nav-link btn btn-space text-white px-2 me-2 fw-bold" href="{% url 'formRegistro' %}" style="background-color: rgb(28, 52, 231);">Novo Chamado</a>
    </div>
  </div>
  <div class="table-responsive">

  </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Atualizado Em</th>
            <th>Local</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% if registros %}
          {% for registro in registros%}
            <tr>
              <td>{{registro.id}}</td>
              <td>{{registro.titulo}}</td>
              <td>{{registro.criado_em}}</td>
              <td>{{registro.departamento_id}}</td>
              <td>{{registro.status}}</td>
              <td>
                
                <a href="{% url 'detalhes' registro.id %}" class="btn btn-warning btn-sm" title="Visualizar">
                <!-- <a href="detalhes/{{registro.id}}" class="btn btn-warning btn-sm" title="Editar"> -->
                  <img src="static/icons/lista-de-controle.png" alt="Editar">        
              </td>
            </tr>
          {% endfor %}
          {% else %}
          {% endif %}        
        </tbody>
      </table>
{% endblock %}