{% extends 'base.html' %}
{% load static %}
{% block titulo %}Detalhes{% endblock %}

{% block titulo_nav %}Inicio{% endblock %}



{% block contend %}

  <h1 class="mt-5">{{registro.titulo}}</h1>
    <dl>
      <dt>Código</dt>
      <dd>{{registro.id}}</dd>

      <dt>Data de Abertura</dt>
      <dd>{{registro.criado_em}}</dd>

      <!-- <dt>Local</dt>
      <dd>{{unidade.nome}}</dd> -->

      <dt>Departamento</dt>
      <dd>{{registro.departamento_id}}</dd>

      <dt>Patrimônio</dt>
      <dd>{{registro.patrimonio}}</dd>

      <dt>Status</dt>
      <dd>{{registro.status}}</dd>

      <dt>Descrição</dt>
      <dd>
        {{registro.descricao}}
      </dd>
    </dl>
    
    
    <a class="btn btn-primary" href="{% url 'editar' registro.id %}" style="background-color: rgb(28, 52, 231);">Editar</a>
    



{% endblock %}