{% extends 'base.html' %}
{% load account %}
{% load static %}
{% block titulo %}Ajuda{% endblock %}

{% block titulo_nav %} Inicio {% endblock %}

{% block contend %}
<h1 style="padding: 3%;">Central de Ajuda</h1>
<h3>Introdução</h3>
<p> 
    O STS-Ti e um sistema que permite gerenciar as demandas de atendimento para serviços, nele e possivel cadastrar unidades, 
    departamentos os quais serão atendidos pelo sistema. 
</p>
<h3>Cadastrar Unidade</h3>
<p>
    Para cadastrar qualuer chamado no sistema e preciso ter no minimo uma Unidade para o qual serão realizados os Chamados
</p>
<p> Na barra de navegação clique em <strong>Cadastro</strong> e escolha a opção <strong>Unidade</strong></p>
<img src="{% static 'image/help1.png' %}" alt="Image">   
<p>

</p>
<h3>Cadatrar departamento</h3>
<h3>Cadastrar Chamado</h3>
{% endblock %}