{% extends 'base.html' %}
{% load account %}
{% load static %}
{% block titulo %}Ajuda{% endblock %}

{% block titulo_nav %} Inicio {% endblock %}

{% block contend %}
<h1 style="padding: 3%;">Central de Ajuda</h1>
<h3>Introdução</h3>
<p> 
    O STS-Ti e um sistema que permite gerenciar as demandas de atendimento para serviços, nele e possivel cadastrar unidades e 
    departamentos os quais serão atendidos pelo sistema e posteriormente fazer o registro dos chamados. 
</p>

<h3>Cadastrar Unidade</h3>
<h5>Para cadastrar quaquer chamado no sistema e preciso ter no minimo uma Unidade e departamento para o qual serão realizados os Chamados</h5>
<h5> Na barra de navegação clique em <strong>Cadastro</strong> e escolha a opção <strong>Unidade</strong></h5>
<img src="{% static 'image/help1.png' %}" alt="Image">
<br>
<h5>De um nome a Unidade e clique em Enviar</h5>   
<img src="{% static 'image/help2.png' %}" alt="Image">  
<br>

<h3>Cadastrar departamento</h3>
<h5>Para cadastrar um departamento clique em <strong>Cadastro</strong> e escolha e opção <strong>Departamento</strong></h5>
<img src="{% static 'image/help3.png' %}" alt="Image"> 
<br>
<h5>De um nome para o Departamento e escolha a unidade ao qual pertence</h5>
<img src="{% static 'image/help4.png' %}" alt="Image"> 
<br>

<h3>Cadastrar Chamado</h3>
<h5>Na pagina inicial clique em <strong>Novo Chamado</strong></h5>
<img src="{% static 'image/help5.png' %}" alt="Image"> 
<br>
<h5>Informe os detalhes do chamado</h5>
<img src="{% static 'image/help6.png' %}" alt="Image"> 
<br>
{% endblock %}