{% extends 'base.html' %}
{% load account %}
{% block titulo %} Atendimentos {% endblock %}

{% block titulo_nav %} Inicio {% endblock %}

{% block contend %}
<div class="container mt-5" style="width: 100%;">
  <div class="d-flex justify-content-between mb-11">
    <div>
      <h2 class="fw-bold" style="color: rgb(19, 20, 19);"> Atendimentos </h2>
    </div>
    <div>
      <a class="nav-link btn btn-space text-white px-2 me-2 fw-bold" href="{% url 'formRegistro' %}" style="background-color: rgb(28, 52, 231);">Novo Chamado</a>
    </div>
  </div>
  <div class="table-responsive">

  </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Status</th>
            <th>Chamados</th>
          </tr>
        </thead>
        <tbody>
          {% if dados %}
          {% for d in dados%}
            <tr>
              <td>{{d.status}}</td>
              <td>{{d.quantidade}}</td>
            </tr>
          {% endfor %}
          {% else %}
          {% endif %}        
        </tbody>
      </table>
{% endblock %}